/* Tracy_Mod4_2.css */
/* Written on 4/9/2023, Happy Easter! */
/* Grid styles for the image gallery */
#image-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-top: 10%;
    border: 2px solid red;
    padding: 10px;   
  }
  
  /* Center the h1 */
  h1 {
    text-align: center;
    color: rgba(255, 0, 0, 0.8); /* red with 80% opacity */

  }
  
  /* Center the h3 */
  h3 {
    text-align: center;
    color: rgba(0, 255, 0, 0.8); /* green with 80% opacity */
  }
  
  /* Center the images */
  figure {
    text-align: center;
 
  }
  
  /* Style the captions */
  figcaption {
    font-style: italic;
    font-size: 0.75em;
    color: rgba(0, 0, 255, 0.8); /* blue with 80% opacity */
  }

  /* Set the image size to 75% */
figure img {
  width: 50%;
  height: 50%;
}

  /* Add a red border between the images */
  #image-gallery > div:not(:last-child) {
  border-right: 2px solid red;
}

/* Style the "back to landing page" link */
#back-to-landing {
  display: block;
  margin-top: 20px; /* move the link down */
  margin-left: auto; /* move the link to the right */
  text-align: right;
  color: rgba(255, 0, 0, 0.8); /* red with 80% opacity */
  font-size: 0.8em;
  text-decoration: none;
}

#back-to-landing-container {
  position: absolute;
  margin: 20px; /* adjust as needed */
  right: 20px; /* adjust as needed */
}
